@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:900');

* {
    box-sizing: border-box;
}
h1{
    color:rgb(255, 0, 21);
    text-align: center;
}
body{
    background-image: url(uj.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.box {
    color:white;
    font-size: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    padding:15px;
    flex-direction: column;
    flex: 1;
    flex-wrap:wrap ;
  
}
  
  .box1 { background:#eccc68;}
  .box2 { background:#ff6348;}
  .box3 { background:#ff7f50;}
  .box4 { background:#ff4757;}
  .box5 { background:#f1c40f;}
  .box6 { background: darkgray;}
  .box7 { background: rgb(52, 61, 43);}

.container {
    display: flex;
    justify-content: flex-start;
}
.content {
    width: 50%;
    padding: 40px;
    margin: 100px auto;
    font-family: calibri;
    font-size: 25px;
    color: black;
    background-color: rgb(169, 178, 192);
    flex: 1;
    flex-wrap: wrap;
}
.content2   {
    width: 50%;
    padding: 40px;
    margin: 100px auto;
    font-family: calibri;
    font-size: 25px;
    color: black;
    background-color: rgb(153, 99, 122);
    flex: 1;
    flex-wrap: wrap;
}
.button {
    background-color: rgb(33, 33, 153);
    border: lightblue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 40px;
    margin:40px;

.containor {
    display: flex;
    justify-content: center;
}
